@using Review14.Models;
@model dynamic
@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <img src= "@Url.Content(Model.Product.Img)" alt="@Model.Product.ImgAlt" />
    <div>
    <h2>@Model.Product.Name</h2>
    <h3>@Model.Product.Price</h3>
    <h3>@Model.Product.Rating</h3>
    </div>
    <div>
    <textarea>@Model.Product.Description</textarea>
    </div>
</div>


@foreach(Review review in Model.Reviews)
{
    <div>
        <div>
            <h2>@review.Title</h2>
            <h3>@review.Rating</h3>
            <h3>@review.User.ProfileName</h3>
        </div>
        <div>
            <textarea>
                @review.ReviewText
            </textarea>
        </div>
    </div>
}