@using Review14.Models;
@using System;
@model dynamic
@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <img src= "@Url.Content(@Model.Product.Img)" alt="@Model.Product.ImgAlt" />
    <div>
    <h2>@Model.Product.Name</h2>
    <h3>@Model.Product.Price</h3>
    <h3>@Model.Product.Rating</h3>
    </div>
    <div>
    <p>@Model.Product.Description</p>
    </div>
</div>


@foreach(Review review in Model.Reviews)
{
    <div>
        <div class="review">
            <h2>Title:</h2><h4>@review.Title</h4>
            <h3>User:</h3><h4>@review.User.ProfileName</h4>
            <h3>Reviewer Rating:</h3> <h4>@review.Rating</h4>
        </div>
        <div>
            <p>
                @review.ReviewText
            </p>
        </div>
    </div>
}