@using Review14.Models;
@model dynamic
@{
    ViewData["Title"] = "User - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="@Url.Content(Model.User.UserImg)" alt="@Model.User.UserImgAlt" />

<p>@Model.User.UserNameFirst</p>
<p>@Model.User.UserNameLast</p>
<p>@Model.User.ProfileName</p>
<p>@Model.User.UserEmail</p>
<p>@Model.User.UserImg</p>
<p>@Model.User.UserImgAlt</p>

@foreach (Review review in Model.Reviews)
{
    <div class="container" style="border: red solid 2px">
    <p>@review.Title</p>
    <textarea>@review.ReviewText</textarea>
    </div>
}