@model Review14.Models.Product
@{
    ViewData["Title"] = "Admin - Product Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>New Product - Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    <h4>Add a new product to the catalogue</h4>
    @using (Html.BeginForm())
    {

        <lable>New Product's Name</lable>
        @Html.TextBoxFor(model => model.Name)
        <lable>New Product's Price</lable>
        @Html.TextBoxFor(model => model.Price)
        <lable>New Product's Description</lable>
        @Html.TextAreaFor(model => model.Description)
        <lable>New Product's Image url</lable>
        @Html.TextBoxFor(model => model.Img)
        <lable>New Product's Image alt</lable>
        @Html.TextBoxFor(model => model.ImgAlt)
        <lable>New Product's Rating</lable>
        @Html.TextBoxFor(model => model.Rating)

        <input type="submit" value="Add" class="btn btn-default" />
    }
    <p>@Html.ActionLink("Back to Admin Menu", "AdminIndex")</p>

</body>
</html>