@model Review14.Models.Review
@{
    ViewData["Title"] = "Admin  - Review Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Review - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit a review on the database</h4>
    @using (Html.BeginForm())
    {
        <lable>Review Id (!!! Use Caition !!!)</lable>
        @Html.EditorFor(model => model.ReviewId)
        <lable>Review Title</lable>
        @Html.EditorFor(model => model.Title)
        <lable>Review Rating</lable>
        @Html.EditorFor(model => model.Rating)
        <lable>Review Text</lable>
        @Html.EditorFor(model => model.ReviewText)
        <lable>Review User Id</lable>
        @Html.EditorFor(model => model.UserId)
        <lable>Review Product Id</lable>
        @Html.EditorFor(model => model.ProductId)

        <input type="submit" value="Save" class="btn btn-default" />
    }
    <p>@Html.ActionLink("Back to Admin Menu", "Index")</p>

</body>
</html>