@model Review14.Models.Product
@{
    ViewData["Title"] = "Admin - Product Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Product - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit a product from the catalogue</h4>
    @using (Html.BeginForm())
    {
        <lable>Edit Product ID (!!! Use Caution !!!)</lable>
        @Html.EditorFor(model => model.ProductId)
        <lable>Edit Product Name</lable>
        @Html.EditorFor(model => model.Name)
        <lable>Edit Product Price</lable>
        @Html.EditorFor(model => model.Price)
        <lable>Edit Product Description</lable>
        @Html.EditorFor(model => model.Description)
        <lable>Edit Product Image url</lable>
        @Html.EditorFor(model => model.Img)
        <lable>Edit Product Image alt</lable>
        @Html.EditorFor(model => model.ImgAlt)
        <lable>Edit Product Rating</lable>
        @Html.EditorFor(model => model.Rating)

        <input type="submit" value="Save" class="btn btn-default" />
    }
    <p>@Html.ActionLink("Back to Admin Menu", "AdminIndex")</p>

</body>
</html>