@model IEnumerable<Review14.Models.Product>
@{
    ViewData["Title"] = "Admin - ProducIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gummy Kingdoms Products</h1>

<table class="products-table">
    <tr>
        <th>
            <label>Product Name</label>
        </th>
        <th>

        </th>
        <th>
            <label>Price</label>
        </th>
        <th>
            <label>Description</label>
        </th>
        <th>
            <label>Rating</label>
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>


    @foreach (var product in Model)
    {
    <tr class="products-display">
        <td>
            @Html.DisplayFor(model => product.Name)
        </td>
        <td>
            <img src="@Url.Content(product.Img)" alt="@product.ImgAlt" />
        </td>
        <td>
            @Html.DisplayFor(model => product.Price)
        </td>
        <td class="products-description">
            @Html.DisplayFor(model => product.Description)
        </td>
        <td>
            @Html.DisplayFor(model => product.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProduct", new { id = product.ProductId })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", "Product", new { id = product.ProductId })
        </td>

    </tr>
    }
</table>