@model IEnumerable<Review14.Models.Review>
@{
    ViewData["Title"] = "Admin - ReviewIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gummy Kingdoms Products</h1>

<table class="products-table">
    <tr>
        <th>
            <label>Review Title</label>
        </th>
        <th>
            <lable>Review Text</lable>
        </th>
        <th>
            <label>User Id</label>
        </th>
        <th>
            <label>Product Id</label>
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>


    @foreach (var review in Model)
    {
        <tr class="products-display">
            <td>
                @Html.DisplayFor(model => review.Title)
            </td>
            <td>
                @Html.TextAreaFor(model => review.ReviewText)
            </td>
            <td >
                @Html.DisplayFor(model => review.UserId)
            </td>
            <td>
                @Html.DisplayFor(model => review.ProductId)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditReview", new { id=review.ReviewId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Review", new { id=review.ReviewId })
            </td>
        </tr>
    }
</table>